<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266561304092-kt7v6gmb8cojt9fus253hos99ibg03fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266561304092-kt7v6gmb8cojt9fus253hos99ibg03fm</string>
	<key>API_KEY</key>
	<string>AIzaSyBcuNAmuq6tZhUrv9eGdxRB0hcEvipmRSY</string>
	<key>GCM_SENDER_ID</key>
	<string>266561304092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dogDid</string>
	<key>PROJECT_ID</key>
	<string>dog-did</string>
	<key>STORAGE_BUCKET</key>
	<string>dog-did.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266561304092:ios:6e6c33456f9dfb6160d1d9</string>
</dict>
</plist>